@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: 'Roboto Condensed', sans-serif;
}

#root header.header {
  height: 70px;
  width: 100vw;
  background-color: #151412;
  border-bottom-color: rgba(255, 255, 255, 0);
}

#root header.header form {
  height: 70px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0;
}

#root header.header form input {
  width: 90vw;
  border: none;
  padding: 20px 20px;
}

#root header.header form input:focus {
  border: none;
  outline: none;
}

#root header.header form span i {
  cursor: pointer;
}

#root header.header .nav-logo span {
  line-height: 70px;
  max-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
}

#root header.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root header.header .nav-menu ul {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root header.header .nav-menu ul li {
  list-style: none;
}

#root header.header .nav-menu ul li a, #root header.header .nav-menu ul li i {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#root header.header .nav-menu ul li a {
  padding: 15px 20px;
  line-height: 70px;
}

#root header.header .nav-menu ul li:hover .menu-child {
  display: block;
}

#root header.header .nav-menu ul li .menu-child {
  display: none;
  background-color: white;
  position: absolute;
}

#root header.header .nav-menu ul li .menu-child ul {
  border: 1px solid #c7a17a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  text-align: left;
}

#root header.header .nav-menu ul li .menu-child ul li {
  width: 197px;
}

#root header.header .nav-menu ul li .menu-child ul li a {
  color: black;
}

#root header.header .nav-menu ul li .menu-child ul li:hover {
  background-color: #f0f0f0;
}

#root header.header .nav-menu ul:last-child {
  border-left: 2px solid wheat;
}

@media only screen and (max-width: 1023px) {
  #root header.header {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
  }
  #root header.header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root header.header .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 90px;
    text-align: center;
    width: 100%;
  }
  #root header.header .nav-logo span {
    color: #c7a17a;
  }
  #root header.header .nav-logo span i {
    font-size: 16px;
    color: #c7a17a;
  }
  #root header.header .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 50px;
  }
  #root header.header .nav-menu ul li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
  }
  #root header.header .nav-menu ul li:not(:first-child) {
    border-top: 1px solid #c7a17a;
  }
  #root header.header .nav-menu ul li a {
    display: block;
    color: #c7a17a;
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    line-height: 40px;
  }
  #root header.header .nav-menu ul li i {
    color: #c7a17a;
    font-size: 12px;
  }
  #root header.header .nav-menu ul.account {
    display: none;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

#root .slider .slides {
  position: relative;
}

#root .slider .slides .slide {
  position: relative;
}

#root .slider .slides .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .slider .slides .slide button {
  position: absolute;
  top: 60%;
  left: 20%;
}

#root .slider .slides .navigation-manual {
  text-align: center;
}

#root .slider .slides .navigation-manual span {
  color: white;
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

#root .slider .slides .navigation-manual span#btn-prev {
  position: absolute;
  top: 40%;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

#root .slider .slides .navigation-manual span#btn-prev:hover {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

#root .slider .slides .navigation-manual span#btn-next {
  position: absolute;
  top: 40%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

#root .slider .slides .navigation-manual span#btn-next:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

#root .slider .slides .navigation-manual ul {
  position: absolute;
  z-index: 1;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .slider .slides .navigation-manual ul li {
  width: 10px;
  height: 10px;
  background: white;
  list-style: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#root .slider .slides .navigation-manual ul li.running {
  background-color: gray;
}

#root .happens {
  background-color: #151412;
  padding: 120px 0;
  margin: 0 auto;
}

#root .happens-heading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#root .happens-heading h5 {
  color: #c7a17a;
  line-height: 40px;
}

#root .happens-heading h2 {
  font-weight: bold;
  color: white;
  line-height: 40px;
}

#root .happens-heading small {
  background-color: #c7a17a;
  width: 140px;
  padding: 1px;
  border: 1px solid #c7a17a;
  display: inline-block;
}

#root .happens-calendar .row {
  gap: 30px;
}

#root .happens-calendar .row .calendar {
  width: 30%;
}

#root .happens-calendar .row .calendar-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .happens-calendar .row .calendar-title {
  margin: 20px 0;
  line-height: 30px;
}

#root .happens-calendar .row .calendar-title h3 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

#root .happens-calendar .row .calendar-desc {
  margin: 10px 0;
}

#root .happens-calendar .row .calendar-desc span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  color: floralwhite;
  font-size: 16px;
}

#root .happens-calendar .row .calendar-more a {
  color: #c7a17a;
  font-size: 12px;
  font-weight: bold;
}

#root .happens-calendar .row .calendar:last-child {
  background-image: url(../image/hom3.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .happens-calendar .row .calendar:last-child .calendar-box {
  display: block;
  visibility: visible;
  padding: 30px;
  width: 100%;
}

#root .happens-calendar .row .calendar:last-child .calendar-box h3, #root .happens-calendar .row .calendar:last-child .calendar-box p, #root .happens-calendar .row .calendar:last-child .calendar-box span {
  color: white;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

#root .happens-calendar .row .calendar:last-child .calendar-box h3 {
  margin-bottom: 20px;
}

#root .happens-calendar .row .calendar:last-child .calendar-box h4 {
  margin-top: 20px;
  color: #c7a17a;
  font-family: "Oswald", sans-serif;
}

#root .happens-calendar .row .calendar:last-child .calendar-box .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 15px 0;
}

#root .happens-calendar .row .calendar:last-child .calendar-box .date span {
  line-height: 30px;
  font-size: 18px;
}

#root .happens-calendar .row .calendar:last-child .calendar-box .date span:nth-child(2) {
  display: table-cell;
  height: 3px;
  position: relative;
  z-index: 1;
}

#root .happens-calendar .row .calendar:last-child .calendar-box .date span:nth-child(2) .line {
  display: block;
  border-bottom: 2px solid rgba(168, 164, 161, 0.25);
}

#root .application {
  background-image: url(../image/application.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root .application-body {
  padding: 100px 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

#root .application-body .row-left span, #root .application-body .row-left h2, #root .application-body .row-left p, #root .application-body .row-left a {
  color: white;
  margin: 20px;
}

#root .application-body .row-left-heading i {
  font-size: 22px;
}

#root .application-body .row-left h2 {
  font-weight: bold;
  line-height: 40px;
}

#root .application-body .row-left .cell {
  padding: 2px 50px;
  padding-left: -50px;
  width: 120px;
  display: block;
  background-color: #c7a17a;
  text-align: right;
}

#root .application-body .row-left a button {
  color: white;
  font-size: 16px;
  background-color: #c7a17a;
  border-radius: 0px;
  padding: 10px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

#root .application-body .row-left a button:hover {
  background-color: white;
  color: #c7a17a;
}

#root .application-body .row-right video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .application-end {
  overflow: hidden;
}

#root .application-end .slicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#root .application-end .slicks .slick {
  -webkit-transition: .5s;
  transition: .5s;
}

#root .application-end .slicks .slick a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .application-end .slicks .none {
  display: none;
}

#root .flavours {
  padding: 70px 0;
  background-color: #151412;
}

#root .flavours .flavour {
  margin: auto;
}

#root .flavours .flavour-heading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#root .flavours .flavour-heading i {
  color: #c7a17a;
  line-height: 40px;
}

#root .flavours .flavour-heading h2 {
  font-weight: bold;
  color: white;
  line-height: 40px;
}

#root .flavours .flavour-heading small {
  background-color: #c7a17a;
  width: 140px;
  padding: 1px;
  border: 1px solid #c7a17a;
  display: inline-block;
}

#root .flavours .flavour-body {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

#root .flavours .flavour-body .category {
  font-family: "Roboto Condensed", sans-serif;
  width: 20%;
  margin-bottom: 20px;
}

#root .flavours .flavour-body .category-image {
  text-align: center;
}

#root .flavours .flavour-body .category-image img {
  width: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .flavours .flavour-body .category-title {
  text-align: center;
  display: block;
  line-height: 30px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#root .flavours .flavour-body .category-title h4 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#root .flavours .flavour-body .category-desc {
  display: block;
  text-align: center;
}

#root .flavours .flavour-body .category-desc span {
  color: white;
}

@media only screen and (max-width: 1023px) {
  #root .slider .slides .navigation-manual #btn-prev, #root .slider .slides .navigation-manual #btn-next {
    position: absolute;
    top: 30% !important;
  }
  #root .slider .slides .navigation-manual #btn-prev i, #root .slider .slides .navigation-manual #btn-next i {
    font-size: 25px;
  }
  #root .slider .slides .navigation-manual ul {
    left: 40%;
    bottom: 0px;
  }
  #root .slider .slides .navigation-manual ul li {
    width: 7px;
    height: 7px;
    opacity: 1;
  }
  #root .happens-calendar .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .happens-calendar .row .calendar {
    width: 100%;
    padding: 10px 30px;
  }
  #root .happens-calendar .row .calendar:last-child {
    width: 300px;
    padding: 10px;
  }
  #root .happens-calendar .row .calendar:last-child .calendar-box {
    width: 100%;
  }
  #root .happens-calendar .row .calendar:last-child .calendar-box .date span {
    font-size: 16px !important;
  }
  #root .happens-calendar .row .calendar:last-child .calendar-box h4 {
    font-size: 18px;
  }
  .application-body .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application-body .row-right {
    margin-top: 50px;
    width: 90%;
  }
  .application-end .slicks .slick {
    width: 100vw;
  }
  .application-end .slicks .slick a img {
    width: 100vw !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flavours .flavour-heading {
    margin-bottom: 0px !important;
  }
  .flavours .flavour-body .category {
    width: 100% !important;
    margin-top: -20px;
  }
  .flavours .flavour-body .category-image {
    padding-top: -20px;
  }
  .flavours .flavour-body .category-image img {
    width: 50% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flavours .flavour-body .category-desc {
    padding: 10px 10px !important;
  }
}
/*# sourceMappingURL=index.css.map */